[Unit]
Description=brightness permission script
After=systemd-backlight@backlight:acpi_video0.service systemd-backlight@backlight:intel_backlight.service systemd-backlight@leds:smc::kbd_backlight.service

[Service]
Type=oneshot
ExecStart=/home/alex/brightness/permissions.pl

[Install]
WantedBy=multi-user.target
